.lato-100 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-300 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-900 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}
  .rotating-words {
    display: inline-block;
    height: 78px;
    overflow: hidden;
    vertical-align: bottom;
    position: relative;
  }
  .rotating-words div {
    display: block;
    animation: slide 10s infinite;
    text-align:center;
  }
  .text-highlight{
    color:#0d2669;
  }
  @keyframes slide {
    0% { transform: translateY(0%); }
    33% { transform: translateY(0%); }
    34% { transform: translateY(-100%); }
    66% { transform: translateY(-100%); }
    67% { transform: translateY(-200%); }
    99% { transform: translateY(-200%); }
    100% { transform: translateY(0%); }
  }

  body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 20px;
    max-width: 980px;
    margin: auto;
  }

  footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size:.8rem;
    font-weight:300;
    background:#000;
    color:#fff;
  }
  .navbar-nav {
    gap: 1rem;
  }
  .navbar{
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    background:#fff;
    top:-60px;
  }
  .navbar.visible {
    top:0px;
    pointer-events: auto;
  }
  .banner {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border: 2px solid #000;
    display: inline-block;
    margin-top: 1rem;
  }
  .tagline {
    font-size: 2rem;
    font-weight: bold;
  }
  .skills p {
    margin: 0;
  }
  .project-main-menu {
    margin-top:5rem;
  }

  blockquote {
    font-style: italic;
    background-color: #f8f9fa;
    padding: 1rem;
    border-left: 5px solid #ccc;
    margin-bottom: 1.5rem;
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 5rem;
  }
  .contact-icons div {
    text-align: center;
    font-size: 1.5rem;
  }

  section{
    margin:10rem 0;
  }
  #home{
    margin:0;
  }
  #home .line-1{
    font-size:3rem;
    font-weight:700;
    margin-bottom:1rem;
    opacity:0;
    transition: opacity .3s ease-in-out;
  }

  #home .line-1 span{
    display: inline-block;
  }

  #home .line-2{
    font-size:2rem;
    font-weight:500;
    display: inline-block;
    opacity:0;
    transition: opacity .3s ease-in-out;
    position:relative;
  }
  #home .line-2 .text-wrapper {
    position: relative;
    display: inline-block;
  }
  #home .line-2 .type {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #000;
    transform-origin: 0 50%;
  }
  #home .line-2 .type1 { 
    top: 0; 
    left: 0;
  }

  #home .line-2 .letter {
    display: inline-block;
  }

  #home .line-3{
    font-size:2.5rem;
    font-weight:500;
    opacity:0;
    transition: opacity .3s ease-in-out;
  }

  #home .line-3 .letter {
    display: inline-block;
    line-height: 1em;
  }

  #home .line-name{
    font-size:6rem;
    font-weight:700;
    margin:3rem 0;
    background-image:url(../images/section1-name-ribbon.webp);
    width:907px;
    height:236px;
    opacity:0;
    transition: opacity .3s ease-in-out;
    position:relative;
  }

  #home .line-name .letter {
    display: inline-block;
  }
  #home .icon-divider{
    margin-top:10rem;
    opacity:0;
    transition: opacity .3s ease-in-out;
    background-image:url(../images/section1-divider.webp);
    width:382px;
    height:96px;
  }
  #home .icon-divider:hover{
    background-image:url(../images/section1-divider-hover.webp);
  }
  
  .subHeader{
    font-size:2.5rem;
    font-weight:700;
  }
  #intro{
    margin-top:6rem;
    /* opacity:0;
    transition:all .3s ease-in-out; */
    display:none;
  }
  #intro .capabilities{
    background-image:url(../images/section1-capabilities.webp);
    width:548px;
    height:148px;
    margin:0 auto;
    padding-top: 3.5rem;
    margin-top:5rem;
  }
  #intro .capabilities .cap-design{
   font-family: "Montserrat", sans-serif;
   font-size:3rem;
   font-weight:700;
  }
  #intro .capabilities .cap-programming{
    font-family: "Fira Code", monospace;
    font-size:3rem;
    font-weight:700;
   }
   #intro .capabilities .cap-elearning{
    font-size:3rem;
    font-weight:700;
   }

  #testimonials .blockquote{
    background-image:url(../images/section3-testimonial.webp);
    background-repeat:no-repeat;
    width:570px;
    height:280px;
    padding:0 2.5rem 2.5rem 2.5rem;
    margin:auto;
    font-weight:300;
   }
  #testimonials .blockquote.bradd{
    margin-top:5rem;
   }
  #testimonials .blockquote.jack{
    margin-top:2rem;
   }
  #resume .resume-wrap{
    width:100%;
    max-width:690px;
    margin:auto;
   }
  #resume .resume-wrap ul{
   margin-top:2rem;
   font-size:1.25rem;
   font-weight:300;
  }
  #resume .resume-wrap .resume-button {
    display: inline-block;
    margin-top: 1rem;
    padding: .75rem 1rem;
    text-decoration: none;
    color: #000;
    width:187px;
    height:56px;
    background-image:url(../images/section4-bt-bg.webp);
    background-repeat:no-repeat;
    font-weight:500;
  }
  #resume .resume-wrap .resume-button:active {
    background-image:url(../images/section4-bt-hover-bg.webp);
    background-repeat:no-repeat;
    height:51px;
    margin-top:calc(1rem + 5px);
  }
  #resume .resume-wrap .button-pane .desc{
    font-size:.8rem;
    font-weight:300;
  }
  #contact .contact-icons div{
    font-size:1.25rem;
    font-weight:300;
  }

  #projects .project-main-menu .project-item .project-label{
    font-size:1.75rem;
    font-weight:700;
  }
  #projects .project-main-menu .project-item .project-description{
    font-size:1.25rem;
    font-weight:300;
  }
  #projects .project-main-menu{
    max-width:515px;
    margin:auto;
    margin-top:4rem;
  }
  #projects .project-main-menu .project-item .project-label-wrap{
    margin-left:1rem;
    width:calc(100% - 202px);
  }
  
  #projects .project-main-menu .project-item{
    margin-top:2rem;
    padding:0.5rem;
    border-radius:10px;
    position:relative;
    transition:all .3s ease-in-out;
  }
  #projects .project-main-menu .project-item:hover{
    color:#4400ff;
    cursor: pointer;
  }
  #projects .project-main-menu .project-item .project-hover{
    background-image:url(../images/section2-project-thumbnail-hover.webp);
    background-repeat:no-repeat;
    width:204px;
    height:147px;
    position:absolute;
    top:-10px;
    left:0;
    opacity:0;
    transition:all .3s ease-in-out;
  }
  #projects .project-main-menu .project-item:hover .project-hover{
    opacity:1;
  }
  #projects .project-content-wrap{
    display:none;
    margin-top:2rem;
    position:relative;
  }
  #projects .project-content-wrap .portfolio-wrap{
    margin-top:2rem;
    padding-top:3rem;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
  }
  #projects .project-content-wrap .portfolio-wrap .label{
    background-image:url(../images/section2-portfolio-label.webp);
    width:315px;
    height:75px;
    font-size:2rem;
    font-weight:700;
    padding:1.5rem 0 0 2.2rem;
  }
  #projects .project-content-wrap .portfolio-wrap .close-button{
    width:45px;
    height:49px;  
    background-image:url(../images/section2-portfolio-close-button.webp);
    cursor:pointer;
    float: right;
    margin-top: -4rem;
    position:relative;
  }
  #projects .project-content-wrap .portfolio-wrap .close-button:active{
    background-image:url(../images/section2-portfolio-close-button-press.webp);
    width:45px;
    height:43px;  
    margin-top: calc(-4rem + 6px);
  }
  #projects .project-content-wrap .portfolio-wrap .close-button .close-button-hover{
    background-image:url(../images/section2-portfolio-close-button-hover.webp);
    width:22px;
    height:23px;  
    position:absolute;
    top:-5px;
    left:-15px;
    opacity:0;
    transition: all .3s ease-in-out;;
  }
  #projects .project-content-wrap.hiCreo .portfolio-wrap .close-button:hover .close-button-hover{
    opacity:1;
  }
  #projects .project-sub-menu{
    cursor:pointer;
    display:none;
    margin-top:5rem;
  }
  #projects .project-sub-menu .project-item .project-label{
    font-size:1em;
    font-weight:700;
  }
  #projects .project-sub-menu .project-item:hover .project-label,
  #projects .project-sub-menu .project-item.active .project-label{
    color:#4400ff;
  }
  #projects .project-sub-menu .project-item{
    position:relative;
    margin:0 1rem;
  }
  #projects .project-sub-menu .project-item .project-hover{
    background-image:url(../images/section2-portfolio-close-button-hover.webp);
    width:22px;
    height:23px;  
    position:absolute;
    top:-5px;
    left:calc(50% - 50px);
    opacity:0;
    transition: all .3s ease-in-out;
  }
  #projects .project-sub-menu .project-item.active .project-hover,
  #projects .project-sub-menu .project-item:hover .project-hover{
    opacity:1;
  }

  #projects .project-content-wrap .portfolio-wrap .itemList{
    margin-top:5rem;
  }
  #projects .project-content-wrap .portfolio-wrap .itemList.item2{
    margin-top:10rem;
  }

  #projects .project-content-wrap .portfolio-wrap .itemList .header{
    font-size:1.5rem;
    font-weight:700;
  }

  #projects .project-content-wrap .portfolio-wrap .itemList .subHeader{
    font-size:1.25rem;
    font-weight:500;
  }

  #projects .project-content-wrap .portfolio-wrap .itemList .description{
    font-size:1.25rem;
    font-weight:300;
    margin-top:1rem;
  }

  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap{
    position:relative;
    margin-top:4rem;
  }

  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap img{
    position:relative;
  }
  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-laptop{
    position:relative;
    margin-top:2rem;
    margin-left:-2rem;
    width:980px;
  }
  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-laptop .capture-img-laptop{
    position:absolute;
    top: 34px;
    left: 109px;
    height: 478px;
    width:762px;
    overflow-y:scroll;
    overflow-x:hidden;
  }

  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-laptop .capture-img-laptop img{
    width:747px;
  }
  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-mobile{
    position:absolute;
    top: 250px;
    right: -50px;
  }
  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-mobile .capture-img-mobile-wrap{
    border-radius:20px;
    overflow: hidden;
    height: 422px;
    width: 199px;
    position: absolute;
    top: 6px;
    left: 6px;
  }

  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-mobile .capture-img-mobile{
    position:relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 422px;
    width: 219px;
  }
  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-mobile .capture-img-mobile img{
    width:200px;
  }

  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-mobile .capture-img-mobile::-webkit-scrollbar {
    display: none; 
  }
  #projects .project-content-wrap .portfolio-wrap .hicreo-website-wrap .hicreo-website-mobile .capture-img-mobile {
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none; 
  }

  #projects .page-buttons .button {
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #000;
    width: 140px;
    height: 43px;
    background-image: url(../images/section4-bt-bg.webp);
    background-size: 140px;
    background-repeat: no-repeat;
    font-weight: 500;
    cursor: pointer;
    margin-left:0.5rem;
    margin-right:0.5rem;
    position:relative;
  }
  #projects .page-buttons .button:active {
    background-image:url(../images/section4-bt-hover-bg.webp);
    background-repeat:no-repeat;
    height:38px;
    margin-top:calc(1rem + 5px);
  }
  #projects .page-buttons .button .button-hover{
    background-image:url(../images/section2-portfolio-close-button-hover.webp);
    width:22px;
    height:23px;  
    position:absolute;
    top:-5px;
    left:-14px;
    opacity:0;
    transition: all .3s ease-in-out;
  }
  #projects .page-buttons .button.active .button-hover,
  #projects .page-buttons .button:hover .button-hover{
    opacity:1;
  }
  #projects .page-buttons .button.active,
  #projects .page-buttons .button:hover{
    color:#4400ff;
  }
  #projects .itemList.item2{
    position:relative;
  }
  #projects .itemList.item2 .capture-video-laptop{
    position:absolute;
    top: 34px;
    left: 107px;
  }
  .instruction{
    font-size:1rem;
    font-weight:300;
    margin-top:2rem;
  }