.lato-100 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-300 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-700 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-900 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.dm-sans-100 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.dm-sans-300 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.dm-sans-500 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-700 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-900 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.vh-75{
  height:75vh;
}
.opacity-90{
  opacity:0.9;
}
.navbar-brand{
 display:flex;
}
.navbar-brand img{
  margin-right:10px;
}